*{font-family: sans-serif;}

p{text-align: center;}

img{
    max-width: 40vw;
    height: auto;
}

body{
    margin: 0px;
    padding: 0px;
}

header{text-align: center;}

h2{text-align: center;}

.content{
    height: max-content;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.landing{
    border: 1px solid #000;
    box-shadow: inset 1px 1px 1px #000;
    margin: 15px;
}
